In [1]:
import numpy as np
import pandas as pd

In [2]:
sales = pd.read_csv('sales_data_sample.csv',encoding='latin1')

In [3]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB
None

In [4]:
print(sales.isnull().sum())

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

In [5]:
sales.fillna({
    'ADDRESSLINE2': '',
    'STATE': 'Unknown',
    'TERRITORY': 'Unknown',
    'POSTALCODE': 'Unknown'
}, inplace=True)

In [6]:
# Drop rows with too many missing values

sales.dropna(thresh=3, inplace=True)

In [7]:
sales.drop_duplicates(inplace=True)

In [8]:
for col in sales.select_dtypes(include='object').columns:
    sales[col] = sales[col].astype(str).str.strip().str.title()

In [9]:
if 'ORDERDATE' in sales.columns:
    sales['ORDERDATE'] = pd.to_datetime(sales['ORDERDATE'], errors='coerce')
    sales['ORDERDATE'] = sales['ORDERDATE'].dt.strftime('%d-%m-%Y')

In [10]:
sales.columns = sales.columns.str.lower().str.replace(' ', '_')

In [11]:
numeric_cols = ['quantityordered', 'priceeach', 'sales', 'orderlinenumber']
for col in numeric_cols:
    if col in sales.columns:
        sales[col] = pd.to_numeric(sales[col], errors='coerce')

In [13]:
print("\n✅ Cleaned Sales Dataset:")
print(sales.head())

✅ Cleaned Sales Dataset:
   ordernumber  quantityordered  priceeach  orderlinenumber    sales  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

    orderdate   status  qtr_id  month_id  year_id  ...  \
0  24-02-2003  Shipped       1         2     2003  ...
1  07-05-2003  Shipped       2         5     2003  ...
2  01-07-2003  Shipped       3         7     2003  ...
3  25-08-2003  Shipped       3         8     2003  ...
4  10-10-2003  Shipped       4        10     2003  ...

                    addressline1  addressline2           city    state  \
0        897 Long Airport Avenue                          Nyc       Ny
1             59 Rue De L'Abbaye                        Reims  Unknown
2  27 Rue Du Colonel Pierre Avia                        Paris  Unknown
3             78934 Hillside Dr.                     Pasadena       Ca
4                7734 Strong St.                San Francisco       Ca

  postalcode country territory contactlastname contactfirstname dealsize
0      10022     Usa   Unknown              Yu             Kwai    Small
1      51100  France      Emea         Henriot             Paul    Small
2      75508  France      Emea        Da Cunha           Daniel   Medium
3      90003     Usa   Unknown           Young            Julie   Medium
4    Unknown     Usa   Unknown           Brown            Julie   Medium

[5 rows x 25 columns]

In [14]:
sales.to_csv("cleaned_sales_data.csv", index=False)

In [16]:
print(sales.isnull().sum())

ordernumber         0
quantityordered     0
priceeach           0
orderlinenumber     0
sales               0
orderdate           0
status              0
qtr_id              0
month_id            0
year_id             0
productline         0
msrp                0
productcode         0
customername        0
phone               0
addressline1        0
addressline2        0
city                0
state               0
postalcode          0
country             0
territory           0
contactlastname     0
contactfirstname    0
dealsize            0
dtype: int64